@font-face {
  font-family: 'sf pro display';
  src: url("./assets/fonts/sf-pro-display-cufonfonts/SF-Pro.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'sf pro display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
